body{
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
    font-size: 25px;
}
#conteneur{
    background-color: aqua;
    display: grid;
    height: 100vh; /* pour completer la hauteur de l'ecran*/
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
           "un un "
           "deux deux"
           "trois trois"
           "quatre six"
           "sept huit"
           "neuf neuf";

   
    
}
#conteneur div{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
   
}
.un{
    background-color: #f01;
    grid-area: un;
   
            
  
}
.deux{
    background-color: #f0f;
    grid-area: deux;
    
}
.trois{
    background-color: #f6f;
    grid-area: trois;
}
.quatre{
    background-color: #ff0;
    grid-area: quatre;
}
.cinq{
    background-color: #ff9;
    grid-area: cinq;
    display: none; /*pour masque le bloc div 5*/
}
.six{
    background-color: #f90;
    grid-area: six;
}
.sept{
    background-color: #f89;
    grid-area: sept;
   
}
.huit{
    background-color: #f85;
    grid-area: huit;
}
.neuf{
    background-color: #f56;
    grid-area: neuf;
}
@media screen and (min-width: 850px) {
    #conteneur{
       
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        grid-template-areas:
               "un un un un "
               "deux trois trois trois"
               "deux quatre quatre cinq"
               "deux six six cinq"
               "sept sept huit huit"
               "neuf neuf neuf neuf";
    
               
        
    }
    .cinq{
        display: block;
    }
}